.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  background-color: white;
  background: #fff;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  position: fixed;
  top: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  user-select: none;
  list-style-type: none;
}

.avatar {
  background-color: aqua;
  border-radius: 120px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}
